@model Biologia.Domain.Inscricao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Inscricao</legend>

    <div class="display-label">nome</div>
    <div class="display-field">@Model.nome</div>

    <div class="display-label">instituicao</div>
    <div class="display-field">@Model.instituicao</div>

    <div class="display-label">email</div>
    <div class="display-field">@Model.email</div>

    <div class="display-label">telefone</div>
    <div class="display-field">@Model.telefone</div>

    <div class="display-label">curso</div>
    <div class="display-field">@Model.curso</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.inscricaoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


