<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/images/Favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content("~/Content/Master.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Color.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35185347-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>
</head>

<body>
    <div id="cabecalho">
        <table id="gambLife">
            <tr>
                <td>
                    <img alt="Biologia" class="logo" src="@Url.Content("~/Content/images/Bio.png")" />
                </td>
                <td>
                    <div style="width: 630px;">&nbsp;</div>
                    <img alt="Semana Acadêmica de Biologia" src="@Url.Content("~/Content/images/Titulo.png")"  />
                </td>
                <td>
                    <img alt="life" class="life" src="@Url.Content("~/Content/images/Life.png")" />
                </td>
            </tr>
            <tr>
                <td colspan=3>
                    @Html.Partial("_LogOnPartial")
                </td>
            </tr>
        </table>
    </div>
    <div id="main">
        @{Html.RenderAction("MenuSuperior", "Menu");}
        <div id="insideMain">
            @RenderBody()
        </div>
    </div>
    <div id="base">
        <table>
            <tr>
                <td>
                    <a href="http://www.cederj.edu.br/" target="_blank">
                        <img alt="Cederj" class="cederj" src="@Url.Content("~/Content/images/logo_cecierj.gif")" />
                    </a>
                </td>
                <td id="linhaVertical"></td>
                <td>
                    <a href="https://www.facebook.com/events/473489096016538/" target="_blank">
                        <img alt="Facebook" class="facebook" src="@Url.Content("~/Content/images/Facelogo.png")" />
                    </a>
                </td>
            </tr>
        </table>
        <br /><br />
        <div>
            <p>
                Tecnologia Asp.Net MVC 3 / C# e SQL<br />
                Hospedagem <a href="https://appharbor.com/" target="_blank">AppHarbor</a> e <a href="https://github.com/" target="_blank">Github</a><br />
                Criado por Diogo de Lima<br />
                versão @typeof(Web.MvcApplication).Assembly.GetName().Version
            </p>
        </div>
    </div>
</body>
</html>
